[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "2.2"
django-filebrowser = "*"   
django-tinymce = "*"   
djangorestframework = "*"   

[requires]
python = "3.8"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"
pylint = "*"
isort = "*"

[pipenv]
allow_prereleases = true
