[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1"
django-filebrowser = "*"   
django-tinymce = "*"   
djangorestframework = "*"
markdown = "*"
django-filter = "*"   
psycopg2 = "*"
gunicorn = "*"
django-cors-headers = "*"

[requires]
python = "3.9"

[dev-packages]
black = "*"
coverage = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-django = "*"
pylint-django = "*"

[pipenv]
allow_prereleases = true
